<footer class="home__footer py-4 bg-dark text-white w-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <div class="home__footer--links">
          <a class="text-white me-2" routerLink="/sobre">Sobre</a>
          <a class="text-white me-2" routerLink="/servicos">Serviços</a>
          <a class="text-white me-2" routerLink="/contato">Contato</a>
          <a class="text-white" routerLink="/politica">Política de Privacidade</a>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <div class="home__footer--social">
          <a class="text-white me-2" href="https://facebook.com" target="_blank">Facebook</a>
          <a class="text-white me-2" href="https://instagram.com" target="_blank">Instagram</a>
          <a class="text-white" href="https://linkedin.com" target="_blank">LinkedIn</a>
        </div>
      </div>
      <div class="col-12 col-md-4 text-md-end">
        <p class="mb-0">
          © 2025 TechnologySolutions. Todos os direitos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>
