.open-positions {
  .table {
    margin-top: 1rem;
  }

  .candidate-form {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #f9f9f9;
  }

  .candidate-form-dark {
    background-color: #1f2d3b;
    color: #fff;
    border-radius: 10px;
  }

  p {
    font-size: 1.1rem;
  }



}


.dark-bi {
  color: #fff;
}
