<div
  class="collapse navbar-collapse d-none d-md-flex justify-content-end ms-3"
  id="navbarNav"
>
  <ul class="navbar-nav me-3">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sobre">Sobre Nós</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vagas">Vagas Abertas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contato">Contato</a>
    </li>
  </ul>
  <div class="d-flex">
    <button
      class="btn btn-outline-secondary me-2"
      (click)="toggleDarkMode.emit()"
    >
      {{ isDarkMode ? "Light Mode" : "Dark Mode" }}
    </button>
    <button class="btn btn-primary" routerLink="/login">Login</button>
  </div>
</div>
