<div class="collapse navbar-collapse d-flex" [ngClass]="{'dark-theme': isDarkMode}">
  <ul class="navbar-nav me-3">
    <li class="nav-item">
      <a class="nav-link" href="#home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#sobre-nos">Sobre Nós</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#vagas-abertas">Vagas Abertas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contato">Contato</a>
    </li>
  </ul>

  <button class="btn-ts ms-2" routerLink="/login">
    <i class="bi bi-box-arrow-in-right me-1"></i> Login
  </button>
</div>
