<div class="home" [ngClass]="{'home--dark-mode': isDarkMode}">
  <app-header [isDarkMode]="isDarkMode" (toggleDarkMode)="toggleDarkMode()"></app-header>

  <main class="home__main">
    <section id="home">
      <app-carousel></app-carousel>
    </section>

    <section id="sobre-nos">
      <app-about-us></app-about-us>
    </section>

    <section id="vagas-abertas">
      <app-open-positions></app-open-positions>
    </section>

    <section id="contato">
      <app-contact></app-contact>
    </section>
  </main>

  <app-footer></app-footer>
  <app-scroll-top-button></app-scroll-top-button>
</div>
